<div class="container">
    <div class="row">       
        <div class="col-4" *ngFor="let photos of fotos">

            <div class="card mt-5" style="width: 18rem;" >
                <img [src]="photos.url"  class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">  </h5>
                                
                </div>
                <a [routerLink]="['/foto', photos.id]" class="btn btn-primary"> {{photos.title}} </a>
              </div>

        </div>

    </div>
    <button class="btn btn-primary mt-3" (click)="loadMore()">Cargar más</button>
</div>
